<app-main-menu (elementEmitter)="drawer.toggle()"></app-main-menu>

<mat-drawer-container class="example-container" autosize>
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <p>Auto-resizing sidenav</p>
      <p *ngIf="showFiller">Lorem, ipsum dolor sit amet consectetur.</p>
      <button (click)="showFiller = !showFiller" mat-raised-button>
        Toggle extra text
      </button>
      <br>
      <br>

      <button class="nav-link" routerLinkActive="active" routerLink="/test-table">TestTable</button>
      <br>
      <br>

      <button class="nav-link" routerLinkActive="active" routerLink="/quotes">Quotes</button>
      <br>
      <br>

      <button class="nav-link" routerLinkActive="active" routerLink="/settings">Settings</button>
      <br>
      <br>

      <mat-slide-toggle>Slide me!</mat-slide-toggle>
      
    </mat-drawer>
  
    
    <mat-drawer-content>
      <router-outlet></router-outlet>
    </mat-drawer-content>

</mat-drawer-container>
